@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid #ccc;
  padding: 2px 8px;
  border-radius: 6px;
}

button:disabled {
  color: #ccc;
  cursor: default !important;
}
